<h1><%= @list.name %></h1>
<p>There are <%= @list.movies.count %> movies in this list</p>
<%= link_to "Add a Movie", new_list_bookmark_path(@list) %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %> - <%= bookmark.comment %> <%= link_to "🗑", bookmark_path(bookmark), data: {turbo_method: :delete} %></li>
  <% end %>
</ul>